{% load static %}

<div class="mt-5">
    <p class="h2">What is classes?</p>
    <p class="lead">Well. It is easy and comfortable let us explain <img
            src="{% static 'main_en/images/smiling.png' %}" alt="smiling face" width="30" height="30">..</p>
    <div class="mt-5">
        <p class="h4"><span class="badge bg-success">AAA</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, blanditiis.</span>
        </p>
        <p class="h4"><span class="badge bg-success">AA</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eum harum iure obcaecati sit vel.</span>
        </p>
        <p class="h4"><span class="badge bg-success">A</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo!</span>
        </p>
    </div>
    <div class="mt-5">
        <p class="h4"><span class="badge bg-info">BBB</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quisquam, ut. Animi dignissimos doloribus hic.</span>
        </p>
        <p class="h4"><span class="badge bg-info">BB</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi labore quaerat veniam.</span>
        </p>
        <p class="h4"><span class="badge bg-info">B</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
        </p>
    </div>
    <div class="mt-5 mb-5">
        <p class="h4"><span class="badge bg-warning">CCC</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, blanditiis.</span>
        </p>
        <p class="h4"><span class="badge bg-warning">CC</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eum harum iure obcaecati sit vel.</span>
        </p>
        <p class="h4"><span class="badge bg-warning">C</span><span class="h5"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo!</span>
        </p>
    </div>

</div>