{% load static %}
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Programs</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img src="{% static 'main_en/images/student1.png' %}" width="50px" height="50px">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">
                    Bachelor's degree</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img src="{% static 'main_en/images/master.png' %}" width="50px" height="50px">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Master's degree</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img src="{% static 'main_en/images/books.png' %}" width="50px" height="50px">
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Other programs</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</div>